# Virtual environment
.venv/

# Python bytecode caches
__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/

# data
data/
storage/
.DS_Store
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo

# env file
.env
.gstack/
